{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include 'placas_transito/partials/_head.html' %}
    {% block additional_head %} {% endblock additional_head %}
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
</head>

<body>
    <div class "blog-wrapper">
        {% if site_setup.show_header %}
            {% include 'placas_transito/partials/_header.html' %}
        {% endif %}

        {% block content %}{% endblock content %}

        {% if site_setup.show_pagination %}
            {% include 'placas_transito/partials/_pagination.html' %}
        {% endif %}

        {% if site_setup.show_footer %}
            {% include 'placas_transito/partials/_footer.html' %}
        {% endif %}

    </div>

</body>
